<nav class="navbar navbar-default" height="200px" >
    <div class="container-fluid" >
        <div class="navbar-header">
            <a href="#" class="navbar-brand mb-lg-2">
                <img src="assets/logo.PNG" alt="RecipePoint" height="50px" width="80px;">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a href="#" routerLink='/recipes'>Recipes</a></li>
                <li routerLinkActive="active"><a href="#" routerLink='/shopping-list'>Shopping-list</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- /signup is absoluete path -->
                <!-- if we want to display multiple element for one condition thn we use [ngIf] istead of *ngIf -->
                <!-- ng-template will not destroy the layout so use in that -->
                
                <ng-template [ngIf]="!authService.isAuthenticated()">
                        <li> <a routerLink="/signup"> Register </a></li>
                        <li> <a routerLink="/signin"> Login </a></li>
                       
                </ng-template>
                <li><a style='cursor:pointer;' (click)="onLogout()"
                    *ngIf="authService.isAuthenticated()">Logout</a></li>
                
                
                <li class="dropdown" style='cursor:pointer;' appDropDown *ngIf="isAuthenticated()">
                    <a class="dropdown-toggle">manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a (click)="onSave()">Save Data</a></li>
                        <li><a (click)="onFetchData()">Fetch Data</a></li>
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>